h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 100px;
  color: #556B2F;
}
#logo {
  width: 125px;
  height: auto;
  padding: 5px;
}
h2 {
  font-family: 'Coming Soon', cursive;
  padding-left: 20px;
  color: #556B2F;
}
body {
  background-image: url("https://i.imgur.com/zlYwYpb.jpg");
  background-size: cover;
  margin: 30px 100px;
}
.navbar-navbar-inverse-navbar-fixed {
  border-width: 2px;
  border-color: #556B2F;
  border-bottom-style: solid;
  border-top-style: solid;
  font-family: 'Coming Soon', cursive;
  font-size: 20px;
  font-style: thick;
}
#searchbutton {
  padding: 10px;
}
.col-md-12 {
  padding: 10px;
}
#about1 {
  background: rgba(85,107,47,0.6);
}
#hello {
  font-size: 25px;
  font-family: 'Coming Soon', cursive;
}
#about {
  font-size: 20px;
  font-family: 'Coming Soon', cursive;
}
#aboutpic {
  max-width: 311px;
  max-height: auto;
}
#contactus {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 35px;
}
.btn-facebook {
    margin: 25px 0 0 0;
	  background: #3B5998;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #263961;
	}
	.btn-facebook:link, .btn-facebook:visited {
	  color: #fff;
	}
	.btn-facebook:active, .btn-facebook:hover {
	  background: #263961;
	  color: #fff;
	}
.btn-twitter {
    margin: 25px 0 0 0;
	  background: #00ACEE;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #0075a2;
	}
	.btn-twitter:link, .btn-twitter:visited {
	  color: #fff;
	}
	.btn-twitter:active, .btn-twitter:hover {
	  background: #0075a2;
	  color: #fff;
	}
  #email {
    font-family: 'Coming Soon', cursive;
    font-size: 20px;
  }
  #enews {
    font-family: 'Coming Soon', cursive;
  }
  #submit {
    font-family: 'Coming Soon', cursive;
  }
